body {
    background-color: gray;
    text-align: center;
}

/* specified the #header in detail */
html body div.container h1#header {
    color: black;
}

/* div tag with class="container" */
div.container {
    font-size: small;
}

/* class="container" */
.container {
    background: linear-gradient(to right, #999999, white);
    box-shadow: 3px 3px 50px black;
    border-radius: 100px;
}

/* all elements having "header" as id */
[id="header"] {
    font-size: small;
}

h1 {
    /* !important overrides the specificity values */
    /* but its usage is not reco due to debugging reasons */
    color: #ffffff !important;
    text-shadow: 2px 2px 10px black;
}

h2 {
    color: #ffffff;
    text-shadow: 1px 1px 3px black;
}

/* style attrib (inline styling); id; class-pseudoclass-attrib; elements */
/* most specificity value ----> least specificity value */