/* ############# Defaults ############## */
nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    font-family: 'Roboto', 'Tilt Warp', 'Times New Roman', sans-serif;
}

.container {
    width: 100%;
    /* centers container horizontally */
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




/* ################# Nav Bar ################## */
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    /* when element is too big to fit in the screen don't show it */
    /* clip the content */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    /* removes bullet points of li */
    list-style: none;
    /* make elements float in left */
    float: left;
}

ul.topnav li.topnav-right {
    /* make elements float in right */
    float: right;
}

ul.topnav li a {
    display: block;
    /* remove underline */
    text-decoration: none;
    /* minimum height of text */
    min-height: 16px;
    text-align: center;
    padding: 14px;
    /* set text to uppercase */
    text-transform: uppercase;
    color: #666;
}

/* perform when mouse hover */
ul.topnav li a:hover {
    background-color: #0080ff;
    color: #eee;
}

ul.topnav li.dropdownIcon {
    display: none;
}


/* ################ Custom Styles ################# */
#section-1-gradient {
    background: #076dff;
    background: linear-gradient(#076dff, #65a5ff);
    background: -o-linear-gradient(#076dff, #65a5ff);
    background: -moz-linear-gradient(#076dff, #65a5ff);
    background: -webkit-linear-gradient(#076dff, #65a5ff);
}

.leftSide-col {
    margin-left: 10%;
}

h1.large {
    color: #ffffff;
    font-size: 45px;
    line-height: 40%;
}

form h2 {
    color: white;
}

/* attribute selector [] */
input[type='text'] {
    font-size: 20px;
    min-width: 100px;
    width: 400px;
    border-radius: 50px;
    padding: 10px;
    border: none;
}


/* ################ Mobile ################## */

/* media query. detect device screen and detect when width=680px */
@media screen and (max-width: 680px) {
    /* hides all children of ul.topnav except child 1 (first list/Home) */
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    /* display the hamburger icon and make it float to right */
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        /* tells element with class="dropdownIcon" to stay where it is */
        position: absolute;
        /* tells to stay in top-right corner */
        top: 0;
        right: 0;
    }

    /* call the appended class in topnav */
    ul.topnav.responsive {
        position: relative;
    }

    /* format li in mobile state */
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    /* display the hidden li */
    ul.topnav.responsive li a {
        /* make li visible and aligned to left */
        display: block;
        text-align: left;
    }
}


