/* ############# Defaults ############## */

nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}


/* ################# Nav Bar ################## */


nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    /* when element is too big to fit in the screen don't show it */
    /* clip the content */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    /* removes bullet points of li */
    list-style: none;
    /* make elements float in left */
    float: left;
}

ul.topnav li.topnav-right {
    /* make elements float in right */
    float: right;
}

ul.topnav li a {
    display: block;
    /* remove underline */
    text-decoration: none;
    /* minimum height of text */
    min-height: 16px;
    text-align: center;
    padding: 14px;
    /* set text to uppercase */
    text-transform: uppercase;
    color: #666;
}

/* perform when mouse hover */
ul.topnav li a:hover {
    background-color: #0080ff;
    color: #eee;
}

ul.topnav li.dropdownIcon {
    display: none;
}


/* ################ Mobile ################## */

/* media query. detect device screen and detect when width=680px */
@media screen and (max-width: 680px) {
    /* hides all children of ul.topnav except child 1 (first list/Home) */
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    /* display the hamburger icon and make it float to right */
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        /* tells element with class="dropdownIcon" to stay where it is */
        position: absolute;
        /* tells to stay in top-right corner */
        top: 0;
        right: 0;
    }

    /* call the appended class in topnav */
    ul.topnav.responsive {
        position: relative;
    }

    /* format li in mobile state */
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        /* display the hidden li */
        display: block;
        text-align: left;
    }
}


