body {
    background-color: gray;
}

.container {
    background: linear-gradient(to right, #999999, white);
    box-shadow: 3px 3px 50px black;
    border-radius: 100px;
    text-align: center;
}

h1, h2 {
    color: black;
    font-family: "Climate Crisis", sans-serif;
}

img {
    /* cause image to adjust its width when resizing viewport */
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 1;
    margin-bottom: 60px;

    /* centers the image in its margin */
    /* display: block;
    margin: auto; */
}

.borderimg {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 10px;
}

/* adding some padding to button */
.padding {
    color: white;
    background-color: black;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    padding: 15px;
}